$theme-color: linear-gradient(0deg, #417bff 0%,#4ccbd4 100%);

.van-nav-bar {
    background: $theme-color;
    color: #fff;
}

.van-nav-bar .van-icon,
.van-nav-bar__text,
.van-nav-bar__title {
    color: #fff;
}

.van-button {
    background: $theme-color;
    border: none;
    color: #fff;
}